## [ .NET Ignore ]
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Mac logs
.mtls/
.metadata/

*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if using NuGet Localization
# !**/[Pp]ackages/Microsoft.VisualBasic.Targets.Attributes.0.0.0/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code folders
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Data Files (PENTING: Agar database JSON lokal tidak mengotori repo)
tasks.json

# Operating System Files
.DS_Store
Thumbs.db